/* font-family: "Baloo 2", sans-serif; 
   font-weight: 400-800 */
/* font-family: "Oswald", sans-serif;
   font-weight: 200-700; */

/* reset, global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --font-primary: "Baloo 2", sans-serif;
  --font-secondary: "Oswald", sans-serif;
  --logo-links-font: "MADE Soulmaze", sans-serif;
}
body {
  font-family: var(--font-primary);
}
a,
input[type="submit"],
button {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button,
input,
textarea,
optgroup,
select,
fieldset {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
}
/* -----------------Navbar--------------------- */
.navbar {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 3rem;
  transition: height 0.5s;
}
.show.navbar {
  height: 100vh;
}
.navbar__logo {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}
.navbar__logo a {
  font-family: var(--logo-links-font);
  font-size: 2.5rem;
  color: #eee;
  letter-spacing: 0.1rem;
}
.navbar__logo a span {
  font-size: 3.5rem;
  font-weight: bold;
  color: #9b0e0e;
}
.navbar__links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  opacity: 0;
  visibility: hidden;
}
.show.navbar__links {
  opacity: 1;
  visibility: visible;
  /* transition duration --- transition delay */
  transition: all 0.7s 0.5s;
}
.navbar__link {
  font-family: var(--logo-links-font);
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #fff;
  transition: color 0.3s;
}
.navbar__link:hover {
  color: #9b0e0e;
}
.menu {
  position: fixed;
  top: 2rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.5s;
}
.line-1 {
  width: 50%;
}
.line-2 {
}
.line-3 {
  width: 50%;
  align-self: flex-end;
}
.change.line-1 {
  transform: translateX(2.1rem) translateY(0.5rem) rotate(30deg);
}
.change.line-3 {
  transform: translateX(0.1rem) translateY(-0.5rem) rotate(-30deg);
}
/* -----------------Section 1--------------------- */
.section-1 {
  width: 100vw;
  height: 100vh;
  background: url(./images/dark-bg.jpeg) center center/cover no-repeat;
  position: relative;
}
.banner {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner__heading {
  height: 20rem;
  margin-bottom: 4rem;
  perspective: 50rem;
  overflow: hidden;
}
.banner__heading span {
  font-family: var(--font-secondary);
  font-size: 12rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);

  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(8rem);
  letter-spacing: 3rem;
  opacity: 0;
}
.heading-1 {
  animation: animateHeading 12s 3s infinite;
}
.heading-2 {
  animation: animateHeading 12s 6s infinite;
}
.heading-3 {
  animation: animateHeading 12s 9s infinite;
}
.heading-4 {
  animation: animateHeading 12s 12s infinite;
}
@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
  }
  3% {
    transform: translateZ(0);
    letter-spacing: 1.5rem;
    opacity: 1;
  }
  25% {
    transform: translateZ(0);
    letter-spacing: 1.5rem;
    opacity: 1;
  }
  28% {
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
  }
  100% {
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
  }
}
.banner__para {
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
  margin: 0 auto 4rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  animation: fadeAnimation 2s 1s;
  animation-fill-mode: both;
}
.banner__btn {
  width: 30rem;
  height: 6rem;
  background: linear-gradient(to right, #9b0e0e, #7a1010);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
  animation: fadeAnimation 2s 2s;
  animation-fill-mode: both;
  position: relative;
  overflow: hidden;
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  transform: skew(-30deg);
  transition: left 0.5s;
}
.banner__btn:hover::before {
  left: 100%;
}
