/* font-family: "Baloo 2", sans-serif; 
   font-weight: 400-800 */
/* font-family: "Oswald", sans-serif;
   font-weight: 200-700; */

/* reset, global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --font-primary: "Baloo 2", sans-serif;
  --font-secondary: "Oswald", sans-serif;
  --font-tertiary: "MADE Soulmaze", sans-serif;
  --navbar-link-hover-color: #9b0e0e;
  --section-about-bg-color: #222020;
  --section-pricing-bg-color: #03070e;
  --section-contact-bg-color: #171718;
  --section-footer-bg-color: #202122;
  --card-free-txt-btn-color: #0da5d3;
  --card-basic-txt-btn-color: #bdba0e;
  --card-standard-txt-btn-color: #e23b3b;
  --card-premium-txt-btn-color: #3be286;
  --form-contact-color: #7a1010;
}
body {
  font-family: var(--font-primary);
}
a,
input[type="submit"],
button {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button,
input,
textarea,
optgroup,
select,
fieldset {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
}
/* global classes */
.section-heading {
  font-family: var(--font-secondary);
  font-size: 10rem;
  font-weight: 300;
  color: #ddd;
}
.section-heading__line {
  width: 15rem;
  height: 0.2rem;
  background-color: #ddd;
}
/* -----------------Navbar--------------------- */
.navbar {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 3rem;
  transition: height 0.5s;
}
.show.navbar {
  height: 100vh;
}
.navbar__logo {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}
.navbar__logo a {
  font-family: var(--font-tertiary);
  font-size: 2.5rem;
  color: #eee;
  letter-spacing: 0.1rem;
}
.navbar__logo a span {
  font-size: 3.5rem;
  font-weight: bold;
  color: #9b0e0e;
}
.navbar__links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  opacity: 0;
  visibility: hidden;
}
.show.navbar__links {
  opacity: 1;
  visibility: visible;
  /* transition duration --- transition delay */
  transition: all 0.7s 0.5s;
}
.navbar__link {
  font-family: var(--font-tertiary);
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #fff;
  transition: color 0.3s;
}
.navbar__link:hover {
  color: var(--navbar-link-hover-color);
}
.menu {
  position: fixed;
  top: 2rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.5s;
}
.line-1 {
  width: 50%;
}
.line-2 {
}
.line-3 {
  width: 50%;
  align-self: flex-end;
}
.change.line-1 {
  transform: translateX(2.1rem) translateY(0.5rem) rotate(30deg);
}
.change.line-3 {
  transform: translateX(0.1rem) translateY(-0.5rem) rotate(-30deg);
}
/* -----------------Section 1 Home--------------------- */
.section-1 {
  width: 100vw;
  height: 100vh;
  background: url(./images/dark-bg.jpeg) center center/cover no-repeat;
  position: relative;
}
.banner {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner__heading {
  height: 20rem;
  margin-bottom: 4rem;
  perspective: 50rem;
  overflow: hidden;
}
.banner__heading span {
  font-family: var(--font-secondary);
  font-size: 12rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);

  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(8rem);
  letter-spacing: 3rem;
  opacity: 0;
}
.heading-1 {
  animation: animateHeading 12s 3s infinite;
}
.heading-2 {
  animation: animateHeading 12s 6s infinite;
}
.heading-3 {
  animation: animateHeading 12s 9s infinite;
}
.heading-4 {
  animation: animateHeading 12s 12s infinite;
}
@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
  }
  3% {
    transform: translateZ(0);
    letter-spacing: 1.5rem;
    opacity: 1;
  }
  25% {
    transform: translateZ(0);
    letter-spacing: 1.5rem;
    opacity: 1;
  }
  28% {
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
  }
  100% {
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
  }
}
.banner__para {
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
  margin: 0 auto 4rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  animation: fadeAnimation 2s 1s;
  animation-fill-mode: both;
}
.banner__btn {
  width: 30rem;
  height: 6rem;
  background: linear-gradient(to right, #9b0e0e, #7a1010);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
  animation: fadeAnimation 2s 2s;
  animation-fill-mode: both;
  position: relative;
  overflow: hidden;
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  transform: skew(-30deg);
  transition: left 0.5s;
}
.banner__btn:hover::before {
  left: 100%;
}
/* -----------------Section 2 About------------------- */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: var(--section-about-bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 10rem;
  position: relative;
}

.section-2__video {
  width: 70rem;
  height: 40rem;
  position: absolute;
  top: 5rem;
  right: 15rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
}
.section-2__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.section-2__para {
  width: 70rem;
  font-size: 2rem;
  color: #ddd;
  position: absolute;
  bottom: 5rem;
  right: 15rem;
  border-top: 0.3rem double #aaa;
  border-bottom: 0.3rem double #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.7);
  line-height: 1.2;
}
.section-2__para i {
  font-size: 4rem;
}
.fa-quote-left {
  align-self: flex-start;
}
.fa-quote-right {
  align-self: flex-end;
}

/* ----------------Section 3 Pricing----------------- */
.section-3 {
  width: 100%;
  height: 100vh;
  background-color: var(--section-pricing-bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 10rem;
}
.pricing-cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.pricing-card {
  width: 28rem;
  height: 45rem;
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
  position: relative;
}
.pricing-card__front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing-card__front-heading {
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.pricing-card__front i {
  font-size: 1.8rem;
  width: 3rem;
}
.pricing-card__front span {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.heading-free {
  background: linear-gradient(to right, #087285, #0da5d3);
  border-radius: 1rem 1rem 0 0;
}
.heading-basic {
  background: linear-gradient(to right, #946809, #bdba0e);
  border-radius: 1rem 1rem 0 0;
}
.heading-standard {
  background: linear-gradient(to right, #a10c14, #e23b3b);
  border-radius: 1rem 1rem 0 0;
}
.heading-premium {
  background: linear-gradient(to right, #0b7e48, #3be286);
  border-radius: 1rem 1rem 0 0;
}
.pricing-card__front--price {
  font-family: var(--font-tertiary);
  font-size: 7rem;
  font-weight: bold;
}
.pricing-card__front--list-free {
  color: var(--card-free-txt-btn-color);
}
.pricing-card__front--list-basic {
  color: var(--card-basic-txt-btn-color);
}
.pricing-card__front--list-standard {
  color: var(--card-standard-txt-btn-color);
}
.pricing-card__front--list-premium {
  color: var(--card-premium-txt-btn-color);
}
.pricing-card__front--list-free li,
.pricing-card__front--list-basic li,
.pricing-card__front--list-standard li,
.pricing-card__front--list-premium li {
  margin-bottom: 0.5rem;
}
.pricing-card--btn {
  width: 18rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}
.btn-free {
  background-color: var(--card-free-txt-btn-color);
}
.btn-basic {
  background-color: var(--card-basic-txt-btn-color);
}
.btn-standard {
  background-color: var(--card-standard-txt-btn-color);
}
.btn-premium {
  background-color: var(--card-premium-txt-btn-color);
}
.pricing-card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.pricing-card__back a {
  font-size: 2.5rem;
  color: #fff;
}
.pricing-card__front,
.pricing-card__back {
  transition: all 1s;
}
.pricing-card:hover .pricing-card__front {
  transform: perspective(200rem) rotateY(-180deg);
}
.pricing-card:hover .pricing-card__back {
  transform: perspective(200rem) rotateY(0);
}
.back-free {
  background: linear-gradient(to right, #087285, #0da5d3);
}
.back-basic {
  background: linear-gradient(to right, #946809, #bdba0e);
}
.back-standard {
  background: linear-gradient(to right, #a10c14, #e23b3b);
}
.back-premium {
  background: linear-gradient(to right, #0b7e48, #3be286);
}

/* ----------------Section 4 Contact----------------- */
.section-4 {
  width: 100%;
  height: 100vh;
  background-color: var(--section-contact-bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 10rem;
}
.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-details {
  display: flex;
  margin-bottom: 8rem;
}
.contact-details div {
  width: 25rem;
  text-align: center;
  margin: 4rem;
}
.contact-details i {
  font-size: 5rem;
  color: var(--form-contact-color);
}
.contact-details h3 {
  font-family: var(--font-tertiary);
  font-weight: 900;
  font-size: 2.5rem;
  margin: 2rem 0;
}
.contact-details p {
  font-size: 1.6rem;
  color: #aaa;
}
.contact h1 {
  font-size: 4rem;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.phone {
}
.address {
}
.email {
}
.contact-form {
  font-family: var(--font-secondary);
  width: 70rem;
  display: flex;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.contact-form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 10rem;
  min-height: 5rem;
}
.contact-form input[type="submit"] {
  background-color: var(--form-contact-color);
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.contact-form input[type="submit"]:hover {
  background-color: #5f0303;
}
/* ----------------Section 5 Footer----------------- */
.footer {
  width: 100%;
  height: 12rem;
  background-color: var(--section-footer-bg-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.footer-nav {
}
.footer-nav a {
  font-family: var(--font-tertiary);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ccc;
  margin-right: 3rem;
  letter-spacing: 0.1rem;
  transition: color 0.3s;
}
.footer-nav a:hover {
  color: var(--navbar-link-hover-color);
}
.copyright {
  font-size: 2rem;
  color: #ddd;
}

/* Responsive media queries */
@media (max-width: 1800px) {
  .section-2__video {
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }
  .section-2__para {
    width: 90rem;
    right: 10rem;
  }
}
@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }
}
@media (max-width: 1500px) {
  .section-heading__line {
    display: none;
  }
}
@media (max-width: 1469px) {
  .pricing-cards-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }
  .banner__heading span {
    font-size: 10rem;
  }
  .banner__para {
    width: 45rem;
    font-size: 3rem;
  }
  .section-2,
  .section-3,
  .section-4 {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .section-2 {
    height: 120vh;
  }

  .section-2__video {
    top: 20%;
    left: 50%;
    width: 80rem;
    transform: translate(-50%);
  }
  .section-2__para {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }
  .section-3 {
    height: auto;
    padding: 5rem 0 10rem 0;
  }
  .section-3 .section-heading {
    margin-bottom: 7rem;
  }
  .section-4 {
    height: auto;
    padding: 5rem 0 10rem 0;
  }
}
@media (max-width: 1350px) {
  .section-2__video {
    width: 80rem;
    height: 40rem;
    top: 20rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
  .banner {
    top: 25%;
  }
  .banner__heading {
    height: 15rem;
  }
  .banner__heading span {
    font-size: 8rem;
  }
  .section-2__video {
    top: 25rem;
  }
  .section-2__para {
    bottom: 10rem;
  }
  .footer {
    padding: 0 5rem;
  }
  .footer-nav a {
    font-size: 1.8rem;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 35%;
  }
  .section-2 {
    height: 100vh;
  }
  .contact-details div {
    margin: 3rem 2rem;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .footer-nav {
  }
}
@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
  .banner__heading span {
    font-size: 4.5rem;
  }
  .section-2__video {
    width: 60rem;
  }
  .section-2__para {
    width: 60rem;
  }
  .contact-details div {
    width: 18rem;
    margin: 3rem 1rem;
  }
  .contact-form {
    width: 60rem;
  }
}
